@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --bg-clr: #161616;
        --acc-clr: #0083ff;
        --acc-clr-alt: #6d28d9;
        --txt-clr: #fff;
    }
}